* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: Poppins;
    padding: 0px;
  }

  html {
    overflow-x: hidden;
    font-size: 52.5%;
  }

.header{
    width: 100%;
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #F2E9E4;
}

.social a{
    font-size: 2.7rem;
    margin-left: 2rem;
    color: black;
}

.nav{
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 9%;
}

.nav h1{
    margin-right: 15rem;
    margin-left: 15rem;
    font-size: 4.4rem;
    letter-spacing: 2.5rem;
    cursor: default;
}

.nav a{
    margin-right: 4rem;
    font-size: 2rem;
    letter-spacing: .48rem;
    color: black;
    transition: .5s ease;
}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
}

.about img{
    height: 70rem;
    width: 75rem;
    margin-top: 15rem;
    margin-right: 10rem;
}

.about div{
    height: 70rem;
    width: 75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F2E9E4;
    margin-top: 15rem;
}

.about div h3{
    margin-bottom: 5rem;
    text-align: center;
    font-size: 2.3rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: .58rem;
}

.about div p{
    padding: 5rem;
    font-size: 1.8rem;
    font-weight: 500;
}

.about .btn{
    background-color: black;
    font-weight: 600;
    width: 30rem;
    height: 8rem;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    border-radius: 1rem;
    font-size: 2rem;
    letter-spacing: 1.224rem;
    margin-top: 8rem;
    transition: .5s ease;
}


.services{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 20rem;

}


.services div img{
    width: 32rem;
    height: 45rem;
    margin-bottom: 3rem;
    z-index: 100;
}

.services .img{
    box-shadow:-6rem -4rem #F2E9E4;
}


.card{
    width: 30rem;
    margin-left: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20rem;
}

.card h3{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .58rem;
    margin-bottom: 2rem;
}

.card .desc{
    width: 26rem;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: .3rem;
    margin-bottom: 1.5rem;
}

.card .price{
    width: 28rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .4rem;
}

.contact{
    width: 100%;
    height: 65rem;
    background-color: #F2E9E4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.contact div{
    background-color: white;
    width: 60rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    position: relative;
    left: 18rem;
}

.contact div h3{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.2rem;
    margin-top: 2rem;
}

.contact div p{
    width: 45rem;
    font-size: 1.4rem;
    font-weight: 40rem;
    letter-spacing:.9rem;
    justify-content: center;
    display: flex;
}

.contact div a{
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    width: 26rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.1rem;
    font-weight: 700;
    font-size: 2rem;
    transition: .5s ease;
}

.img1{
    height: 68rem;
    width: 60rem;
    position: relative;
    bottom: 1.5rem;
    z-index: 0;
}

.img2{
    height: 58rem;
    position: relative;
    top: 6rem;
    right: 22rem;
    z-index: 100;
    box-shadow:-2.5rem -3.5rem white;
}

.comment{
    width: 100%;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10rem;
}

.comment h2{
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1.3rem;
}

.comment p{
    width: 120rem;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: .4rem;
    font-weight: 400;
    font-size: 1.4rem;
}

.insta{
    width: 100%;
    background-color: #F2E9E4;
    height: 48rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.insta h2{
    margin-top: 10rem;
    margin-bottom: 2rem;
    letter-spacing: 1.3rem;
    font-size: 2.5rem;
    font-weight: 700;
}

.insta h2 a{
    color: black;
}

.insta div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.insta div img{
    margin-left: 4rem;
    margin-bottom: 5rem;
    transition: .5s ease;
}

.insta div img:hover{
    transform: scale(1.2);
}

footer{
    margin-top: 8rem;
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div a{
    margin-left: 22rem;
    letter-spacing: .2rem;
    color: black;
    font-weight: 700;
    font-size: 1.8rem;
    transition: .5s ease;
}

footer div a i{
    font-size: 2.5rem;
}

footer h3{
    margin-left: 8rem;
    margin-right: 10rem;
    letter-spacing: .4rem;
    cursor: default;
}

a:hover{
    transform: scale(1.2);
}
